body{
    background-color: transparent;
}
header{
    background-color: gray;
}
main{
    background-color: antiquewhite;
}
section{
    background-color: burlywood;
}
article{
    background-color: indianred;

}